.show-screen
  .hearder
    .hearder-top
  .nav
    %ul
      %li
        = link_to "FURIMA","#"
      %li
        = link_to "カテゴリー親要素","#"
      %li
        = link_to "カテゴリー子要素","#"
      %li
        = link_to "カテゴリー孫要素","#"
      %li.item
        商品名
      


  .main
    .show-main
      .content-all
        .main-content
          .item-information
          .comment-box
        .links
          = link_to "前の商品","#"
          = link_to "後ろの商品","#"
        = link_to "レディースをもっと見る","#",class: "relatedItems"
  .body-template
  .footer
